<div class = "col-sm-8 welcome">
  <h1>欢迎加入Yo Blog</h1>
  <%= link_to 'here is My blog', controller: 'articles' %>
</div>


<div class="col-sm-4">

  <% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
  <div id="log-reg">
    <ul class="nav nav-tabs" id="log-reg-tabs" role="tablist">
      <li class="active"><a href="#login" role="tab" data-toggle="tab">Login</a></li>
      <% ### <li><a href="#regist" role="tab" data-toggle="tab">Regist</a></li> ###-%>
    </ul>
    <div class="tab-content" id="log-reg-input">
      <div class="tab-pane active" id="login">
        <%= label_tag :name, 'Name:' %><br>
        <%= text_field_tag :name, params[:name],class: 'form-control input' %><br>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password],class: 'form-control input' %><br>
        <%= submit_tag "Login",class: "btn btn-primary log-reg-btn" %>
      </div>
    </div>
  </div>
  <% end %>

</div>
